
.ui.two.column.grid
  .column
    .ui.inverted.teal.segment
      .ui.inverted.statistics.small.one
        .statistic
          .label Egenkapital
          .value 1 500 000 kr
  .column
    .ui.inverted.orange.segment
      .ui.inverted.statistics.small.one
        .statistic
          .label Lån
          .value 1 500 000 kr


