

.flex
  .flexcol
    .ui.huge.header Kontoer
  .flexcol.text-right
    .ui.big.violet.button.marginless
      i.star.icon
      | Ny konto

.ui.hidden.divider

.ui.dividing.header
  .content.right.floated
    | kr 10 000
  .content
    i.money.icon
    | Cash


.ui.cards
  .ui.card.inverted.teal
    .content
      .ui.statistics.mini.one
        .statistic
          .label Brukskonto
          .value 10 000 kr


.ui.dividing.header
  .content.right.floated
    .header kr 5 000
  .content
    i.credit.card.icon
    | Kreditt


.ui.cards
  .ui.card.inverted.teal
    .content
      .ui.statistics.mini.one.red
        .statistic
          .label Mastercard
          .value - 2 500 kr
  .ui.card.inverted.teal
    .content
      .ui.statistics.mini.one.red
        .statistic
          .label Visa
          .value - 2 500 kr




.ui.dividing.header
  .content.right.floated
    | kr 250 000
  .content
    i.university.icon
    | Lån

.ui.cards
  .ui.card.inverted.teal
    .content
      .ui.statistics.mini.one.red
        .statistic
          .label Boliglån
          .value - 1 500 000 kr
  .ui.card.inverted.teal
    .content
      .ui.statistics.mini.one.red
        .statistic
          .label Studielån
          .value - 200 000 kr


.ui.dividing.header
  .content.right.floated
    | kr 50 000
  .content
    i.bar.chart.icon
    | Investeringer

.ui.cards
  .ui.card.inverted.teal
    .content
      .ui.statistics.mini.one
        .statistic
          .label Fond
          .value 50 000 kr



.ui.dividing.header
  .content.right.floated
    | kr 800 000
  .content
    i.home.icon
    | Eiendom


.ui.cards
  .ui.card.inverted.teal
    .content
      .ui.statistics.mini.one
        .statistic
          .label Hjem
          .value 2 000 000 kr
  .ui.card.inverted.teal
    .content
      .ui.statistics.mini.one
        .statistic
          .label Hytte
          .value 1 500 000 kr

