
.flex
  .flexcol
    .ui.huge.header Transaksjoner
  .flexcol.text-right
    button.ui.big.violet.button.marginless
      i.download.icon
      | Importer nye transaksjoner

.ui.hidden.divider


table.ui.basic.table.borderless
  thead
    tr
      th(style="min-width: 120px")
        | Dato
        div
          .ui.icon.button
            i.calendar.icon
      th
        | Tekst
        div: .ui.input
          input(placeholder="Tekst")
      th
        | Beskrivelse
        div: .ui.input
          input(placeholder="Beskrivelse")
      th
        | Entitet
        div: .ui.input
          input(placeholder="Entitet")
      th
        | Kategori
        div: .ui.input
          input(placeholder="Kategori")
      th
        | Beløp
  tbody
    tr
      td 27. Mai 2017
      td 23.45 Ebu-Loc213 usbl
      td
        .ui.input
          input(value="Hundeleker")
      td
        .ui.input
          input(value="Ebay")
      td
        .ui.floating.dropdown.selection
          span.text Set category
          .menu
            .ui.icon.search.input
              i.search.icon
              input(type='text', placeholder='Search tags...')
            .scrolling.menu
              .item
                .ui.red.empty.circular.label
                |         Important
              .item
                .ui.blue.empty.circular.label
                |         Announcement
              .item
                .ui.black.empty.circular.label
                |         Cannot Fix
              .item
                .ui.purple.empty.circular.label
                |         News
              .item
                .ui.orange.empty.circular.label
                |         Enhancement
              .item
                .ui.empty.circular.label
                |         Change Declined
              .item
                .ui.yellow.empty.circular.label
                |         Off Topic
              .item
                .ui.pink.empty.circular.label
                |         Interesting
              .item
                .ui.green.empty.circular.label
                |         Discussion

      td kr 250
    tr
      td 28. Mai 2017
      td 23.45 Ebu-Loc213 usbl
      td
        .ui.input
          input(value="Hundeleker")
      td
        .ui.input
          input(value="Ebay")
      td
        .ui.floating.dropdown.selection
          span.text Set category
          .menu
            .ui.icon.search.input
              i.search.icon
              input(type='text', placeholder='Search tags...')
            .scrolling.menu
              .item
                .ui.red.empty.circular.label
                |         Important
              .item
                .ui.blue.empty.circular.label
                |         Announcement
              .item
                .ui.black.empty.circular.label
                |         Cannot Fix
              .item
                .ui.purple.empty.circular.label
                |         News
              .item
                .ui.orange.empty.circular.label
                |         Enhancement
              .item
                .ui.empty.circular.label
                |         Change Declined
              .item
                .ui.yellow.empty.circular.label
                |         Off Topic
              .item
                .ui.pink.empty.circular.label
                |         Interesting
              .item
                .ui.green.empty.circular.label
                |         Discussion

      td kr 250
    tr
      td 29. Mai 2017
      td 23.45 Ebu-Loc213 usbl
      td
        .ui.input
          input(value="Hundeleker")
      td
        .ui.input
          input(value="Ebay")
      td
        .ui.floating.dropdown.selection
          span.text Set category
          .menu
            .ui.icon.search.input
              i.search.icon
              input(type='text', placeholder='Search tags...')
            .scrolling.menu
              .item
                .ui.red.empty.circular.label
                |         Important
              .item
                .ui.blue.empty.circular.label
                |         Announcement
              .item
                .ui.black.empty.circular.label
                |         Cannot Fix
              .item
                .ui.purple.empty.circular.label
                |         News
              .item
                .ui.orange.empty.circular.label
                |         Enhancement
              .item
                .ui.empty.circular.label
                |         Change Declined
              .item
                .ui.yellow.empty.circular.label
                |         Off Topic
              .item
                .ui.pink.empty.circular.label
                |         Interesting
              .item
                .ui.green.empty.circular.label
                |         Discussion

      td kr 250
    tr
      td 30. Mai 2017
      td 23.45 Ebu-Loc213 usbl
      td
        .ui.input
          input(value="Hundeleker")
      td
        .ui.input
          input(value="Ebay")
      td
        .ui.floating.dropdown.selection
          span.text Set category
          .menu
            .ui.icon.search.input
              i.search.icon
              input(type='text', placeholder='Search tags...')
            .scrolling.menu
              .item
                .ui.red.empty.circular.label
                |         Important
              .item
                .ui.blue.empty.circular.label
                |         Announcement
              .item
                .ui.black.empty.circular.label
                |         Cannot Fix
              .item
                .ui.purple.empty.circular.label
                |         News
              .item
                .ui.orange.empty.circular.label
                |         Enhancement
              .item
                .ui.empty.circular.label
                |         Change Declined
              .item
                .ui.yellow.empty.circular.label
                |         Off Topic
              .item
                .ui.pink.empty.circular.label
                |         Interesting
              .item
                .ui.green.empty.circular.label
                |         Discussion

      td kr 250
    tr
      td 31. Mai 2017
      td 23.45 Ebu-Loc213 usbl
      td
        .ui.input
          input(value="Hundeleker")
      td
        .ui.input
          input(value="Ebay")
      td
        .ui.floating.dropdown.selection
          span.text Set category
          .menu
            .ui.icon.search.input
              i.search.icon
              input(type='text', placeholder='Search tags...')
            .scrolling.menu
              .item
                .ui.red.empty.circular.label
                |         Important
              .item
                .ui.blue.empty.circular.label
                |         Announcement
              .item
                .ui.black.empty.circular.label
                |         Cannot Fix
              .item
                .ui.purple.empty.circular.label
                |         News
              .item
                .ui.orange.empty.circular.label
                |         Enhancement
              .item
                .ui.empty.circular.label
                |         Change Declined
              .item
                .ui.yellow.empty.circular.label
                |         Off Topic
              .item
                .ui.pink.empty.circular.label
                |         Interesting
              .item
                .ui.green.empty.circular.label
                |         Discussion

      td kr 250
    tr
      td 29. Mai 2017
      td 23.45 Ebu-Loc213 usbl
      td
        .ui.input
          input(value="Hundeleker")
      td
        .ui.input
          input(value="Ebay")
      td
        .ui.floating.dropdown.selection
          span.text Set category
          .menu
            .ui.icon.search.input
              i.search.icon
              input(type='text', placeholder='Search tags...')
            .scrolling.menu
              .item
                .ui.red.empty.circular.label
                |         Important
              .item
                .ui.blue.empty.circular.label
                |         Announcement
              .item
                .ui.black.empty.circular.label
                |         Cannot Fix
              .item
                .ui.purple.empty.circular.label
                |         News
              .item
                .ui.orange.empty.circular.label
                |         Enhancement
              .item
                .ui.empty.circular.label
                |         Change Declined
              .item
                .ui.yellow.empty.circular.label
                |         Off Topic
              .item
                .ui.pink.empty.circular.label
                |         Interesting
              .item
                .ui.green.empty.circular.label
                |         Discussion

      td kr 250
    tr
      td 30. Mai 2017
      td 23.45 Ebu-Loc213 usbl
      td
        .ui.input
          input(value="Hundeleker")
      td
        .ui.input
          input(value="Ebay")
      td
        .ui.floating.dropdown.selection
          span.text Set category
          .menu
            .ui.icon.search.input
              i.search.icon
              input(type='text', placeholder='Search tags...')
            .scrolling.menu
              .item
                .ui.red.empty.circular.label
                |         Important
              .item
                .ui.blue.empty.circular.label
                |         Announcement
              .item
                .ui.black.empty.circular.label
                |         Cannot Fix
              .item
                .ui.purple.empty.circular.label
                |         News
              .item
                .ui.orange.empty.circular.label
                |         Enhancement
              .item
                .ui.empty.circular.label
                |         Change Declined
              .item
                .ui.yellow.empty.circular.label
                |         Off Topic
              .item
                .ui.pink.empty.circular.label
                |         Interesting
              .item
                .ui.green.empty.circular.label
                |         Discussion

      td kr 250
    tr
      td 31. Mai 2017
      td 23.45 Ebu-Loc213 usbl
      td
        .ui.input
          input(value="Hundeleker")
      td
        .ui.input
          input(value="Ebay")
      td
        .ui.floating.dropdown.selection
          span.text Set category
          .menu
            .ui.icon.search.input
              i.search.icon
              input(type='text', placeholder='Search tags...')
            .scrolling.menu
              .item
                .ui.red.empty.circular.label
                |         Important
              .item
                .ui.blue.empty.circular.label
                |         Announcement
              .item
                .ui.black.empty.circular.label
                |         Cannot Fix
              .item
                .ui.purple.empty.circular.label
                |         News
              .item
                .ui.orange.empty.circular.label
                |         Enhancement
              .item
                .ui.empty.circular.label
                |         Change Declined
              .item
                .ui.yellow.empty.circular.label
                |         Off Topic
              .item
                .ui.pink.empty.circular.label
                |         Interesting
              .item
                .ui.green.empty.circular.label
                |         Discussion

      td kr 250


script.
  $(".dropdown").dropdown();