@import "_vars.styl"

.flex
  display: flex

  .flexcol
    flex: 1 0 auto

.text-left
  text-align: left

.text-right
  text-align: right

.inline-block
  display: inline-block
  vertical-align: top

.pl2
  padding-left: 20px

.marginless
  margin: 0 !important

.borderless
  border: none !important
